<li>                        
    <p>

        <% if(locals.user && comment.user.id==locals.user._id || locals.user.id==post.user.id){
            %>
            
        <small>
            <a href="/comments/destroy/<%= comment._id %>">
                remove comment
            </a>
        </small>
        <% } %>
                
        <small>

            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
            
        </small>
    </p>
</li>