
    <link rel="stylesheet" href="/css/user_profile.css">

    <!-- using the partials to header -->
    <!-- <%# include('_header'); %> -->

    <h1><%= subtitle %>  page is running !!! <%= emoji %>  </h1>

    <!-- using partials to footer -->
    <!-- <%# include('_footer'); %> -->
