
body{
    
    margin: 0;
    text-align: left;
    background-color: "green";
    color: rgb(167, 39, 39);
    // min-height: 65vh;
    main{
        // margin-top: 15vh;
        min-height: 90vh;
    }
}